body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(45deg, black,rgb(111, 110, 110));
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
.wrapping{
    display: flex;
    color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapping #entertask{
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.wrapping #entertask input{
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    flex: 5;
    margin-right: 4px;
}
.wrapping #entertask button{
    background-color: green;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.wrapping #entertask button:hover{
    background-color: rgb(57, 175, 57);
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.task{
    display: flex;
    background-color: white;
    color: black;
    margin-top: 5px;
    width: 350px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 4px;
}

.task li{
    list-style: none;
    flex: 4;
}
.task .donetask{
    border: none;
    background-color: rgb(29, 129, 29);
    color: white;
    border-radius: 3px;
    margin-right: 2px;
    cursor: pointer;
}
.task .del{
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
}